@import './all.scss';

*{
    padding: 0;
    margin: 0;
}

.blogPart{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background:url("./back-blog.png") repeat;
    justify-content: center;
    .blog-head{
        h1{
            font-family: $font-stack;
            font-size: 90px;
            text-shadow: 3px 3px 0 rgb(255, 255, 255), 6px 6px 0 rgb(59, 59, 59);
        }
        p{
            font-family: $font-stack;
        }
    }
    .blogs{
        padding-top: 30px;
        justify-content: center;
        .first{
            background-color: rgba(0, 0, 0, 0);
            border-style: hidden;
            width: 850px;
            justify-content: center;
            margin: 0 auto;
            .story{   
                img{
                    width: 250px !important;
                    height: 200px !important;
                }
                .news-text{
                    text-align: left;
                    h5{
                        font-size: 30px;
                        font-family: $font-stack;   
                        margin-top: -20px;
                    }
                    .card-date{
                        font-size: 10px;
                        font-weight: bold;
                        margin-top: -10px;
                    }
                    .story-text{
                        font-size:15px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    a{
        text-decoration: none;
        color: $colorP;
        margin-top: 10px;
        .showAll{
            font-family: $font-stack;
        }
    }    
}