@import "./all.scss";

* {
    padding: 0px;
    margin: 0px;
}

.portfolioPart {
    padding-top: 7vh;
    padding-bottom: 7vh;
    background:url("./back-portfolio.png") repeat;
    .about-head{
        .head{
            font-family: $font-stack;
            font-size: 90px;
            text-shadow: 3px 3px 0 rgb(255, 255, 255), 6px 6px 0 rgb(59, 59, 59);
        }
        p{
            font-family: $font-stack;
            padding-top: 10px;
        }
    } 
    .myWorks{
        width: 650px;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        position: relative;  
            .workPage{
                max-width: 200px !important;
                width: auto;
                height: 200px !important;
                margin: 10px 0 10px 0;
                position: relative;
                background-color: $font-color;
                .worksHref{
                    width:200px;
                    height:200px;
                    margin-left:-15px;
                    position: relative;
                    right:10;
                    text-decoration: none;
                    .worksImage{
                        width: 190px !important;
                        position: relative;
                        border-radius: 0%;
                        margin-top: 10px;
                    }
                    .packman{
                        width: 150px !important;
                        height: 150px !important;
                        margin-top:5px;
                    }
                    .worksName{
                        position: relative;
                        height: 40px;
                        p{
                            position: relative;
                            top: -30px;
                            font-family: $font-stack; 
                            color: $colorP;   
                        }
                    }  
                }
            }      
    } 
    a{
        text-decoration: none;
        color: $colorP;
        p{
            padding-top: 20px;
            font-family: $font-stack;
        } 
    }    
}