@import "../all.scss";

* {
    padding: 0px;
    margin: 0px;
}

.aboutPart{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background:url("./img/back-about.png") repeat;
    justify-content: center;
    .about-head{
        h1{
            font-family: $font-stack;
            font-size: 90px;
            text-shadow: 3px 3px 0 rgb(255, 255, 255), 6px 6px 0 rgb(59, 59, 59);
        }
        p{
            font-family: $font-stack;
        }
    }
    .aboutText{
        padding-top: 30px;
        .parts{
            justify-content: center;
            .about-column{
                max-width: 250px;
                width: 100%;
                .about-image{
                    width: 150px;
                    height: 150px;
                }
                p{
                    
                }
                h2{
                    font-family: $font-stack;
                    padding-top: 20px;
                }
                h5{
                    font-weight: normal;
                    font-size: 20px;
                }
            }
        }
    }
}